
<footer class="footer bg-dark text-white">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-4">
        <h5>Learn More</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">About Us</a></li>
          <li><a href="#" class="text-white">Our Story</a></li>
          <li><a href="#" class="text-white">Projects</a></li>
          <li><a href="#" class="text-white">Terms of Use</a></li>
          <li><a href="#" class="text-white">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Get in Touch</h5>
        <address>
          Moonshine St. 14/05 Light City,<br>
          London, United Kingdom<br>
          Email: <a href="mailto:info@email.com" class="text-white"><p>info&#64;gmail.com</p></a><br>
          Phone: +00 (123) 456 78 90
        </address>
      </div>
      <div class="col-md-4">
        <h5>Our Newsletter</h5>
        <p>Subscribe to our newsletter to get our news & deals delivered to you.</p>
        <form>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email Address">
          </div>
          <button type="submit" class="btn btn-primary mt-2">Join</button>
        </form>
      </div>
    </div>
  </div>
  <div class="footer-bottom bg-secondary text-center py-3">
    <p class="mb-0">© 2021 Sandbox. All rights reserved.</p>
  </div>
</footer>
