<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">WHAT WE DO?</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <button class="btn nav-link">CHOOSE US?</button>
      </li>
      <li class="nav-item">
        <button class="btn nav-link">SOLUTIONS</button>
      </li>
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          CASE STUDIES
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><button class="dropdown-item">CASE STUDIES 1</button></li>
          <li><button class="dropdown-item">CASE STUDIES 2</button></li>
        </ul>
      </div>
      <li class="nav-item">
        <button class="btn nav-link " (click)="goToWhoAreWe1()">WHO ARE WE?</button>
      </li>
      <li class="nav-item">
        <button class="btn nav-link " (click)="goToWhoAreWe2()">WHO ARE WE?</button>
      </li>
    </ul>
  </div>
</nav>

