<div class="container mt-5">
  <div class="row">
    <div class="col-12 text-center mb-4">
      <h2>Who Are We?</h2>
      <p class="lead">Company that believes in the power of creative strategy.</p>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-md-6">
      <img src="assets/b5.jpg" class="img-fluid rounded" alt="Company Image">
    </div>
    <div class="col-md-6">
      <p>
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna,
        vel scelerisque nisl consectetur et.
      </p>
      <p>
        Aenean eu leo quam ornare curabitur blandit tempus. Nullam quis risus eget urna mollis ornare donec elit.
        Etiam porta sem malesuada magna mollis euismod. Fermentum massa vivamus faucibus amet euismod.
      </p>
    </div>
  </div>
</div>

