<div class="container mt-5">
  <div class="row">
    <div class="col-12 text-center mb-4">
      <h2>Our Team</h2>
      <p class="lead">Think unique and be innovative. Make a difference with Sandbox.</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-3">
      <div class="team-member">
        <img src="assets/t1.jpg" class="img-fluid rounded-circle mb-3" alt="Coriss Ambady">
        <h5>Coriss Ambady</h5>
        <p>Financial Analyst</p>
        <blockquote class="blockquote">
          <p class="mb-0">“Vivamus sagittis lacus augue laoreet rutrum faucibus auctor vestibulum ligula porta felis, euismod semper cras justo odio consectetur.”</p>
         <br>
          <footer class="blockquote-footer">Coriss Ambady</footer>
        </blockquote>
      </div>
    </div>
    <div class="col-md-3">
      <div class="team-member">
        <img src="assets/t2.jpg" class="img-fluid rounded-circle mb-3" alt="Cory Zamora">
        <h5>Cory Zamora</h5>
        <p>Marketing Specialist</p>
        <blockquote class="blockquote">
          <p class="mb-0">“Vivamus sagittis lacus augue laoreet rutrum faucibus auctor vestibulum ligula porta felis, euismod semper cras justo odio consectetur.”</p>
          <br>
          <footer class="blockquote-footer">Cory Zamora</footer>
        </blockquote>
      </div>
    </div>
    <div class="col-md-3">
      <div class="team-member">
        <img src="assets/t3.jpg" class="img-fluid rounded-circle mb-3" alt="Nikolas Brooten">
        <h5>Nikolas Brooten</h5>
        <p>Sales Manager</p>
        <blockquote class="blockquote">
          <p class="mb-0">“Vivamus sagittis lacus augue laoreet rutrum faucibus auctor vestibulum ligula porta felis, euismod semper cras justo odio consectetur.”</p>
          <br>
          <footer class="blockquote-footer">Nikolas Brooten</footer>
        </blockquote>
      </div>
    </div>
    <div class="col-md-3">
      <div class="team-member">
        <img src="assets/t4.jpg" class="img-fluid rounded-circle mb-3" alt="Jackie Sanders">
        <h5>Jackie Sanders</h5>
        <p>Investment Planner</p>
        <blockquote class="blockquote">
          <p class="mb-0">“Vivamus sagittis lacus augue laoreet rutrum faucibus auctor vestibulum ligula porta felis, euismod semper cras justo odio consectetur.”</p>
          <br>
          <footer class="blockquote-footer">Jackie Sanders</footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>

